@model IEnumerable<CustomUser>
 
<h2>Список користувачів</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td class="col-8">@user.Email</td>
            <td class="col-2">
                <a class="btn btn-sm btn-primary" asp-action="Graph" asp-route-userid="@user.Id">Побудувати модель</a>
            </td>
        </tr>
    }
</table>